</launch>

<launch>
  <!-- Turn off simulation time, if true, all nodes will run on simulated time, not recommended especially for real applications -->
  <param name="/use_sim_time" value="false" />

  <!-- Load the URDF/Xacro model (including all the parts) of our robot -->
  <arg name="urdf_file" default="$(find xacro)/xacro.py '$(find rbx1_description)/urdf/turtlebot.urdf.xacro'" />
   
  <param name="robot_description" command="$(arg urdf_file)" />
      <!-- Activate arbotix node, which allows for velocity control, here we remap the cmd_vel value to the turtlebot node expected value turtle1/cmd_vel -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" clear_params="true">
      <rosparam file="$(find rbx1_bringup)/config/fake_turtlebot_arbotix.yaml" command="load" />
      <param name="sim" value="true"/>
      <remap from="/cmd_vel" to="/turtle1/cmd_vel"/>
  </node>
 <!-- This node allows to publish the state (position, velocity, ...) of the robot, set publish frecuency to 20Hz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="publish_frequency" type="double" value="20.0" />
  </node>

</launch>
